{% extends "base.html" %}
{% load static %}
{% load tz %}

{% block content %}
  <div class="container">


<h2>Temperature and humidity report</h2>

<table class="table">
  <tr>
    <th>Date and time</th>
    <th>T [°C]</th>
    <th>% RH</th>
  </tr>
{% for measurement in measurements %}
  <tr>
    {% timezone "Europe/Berlin" %}
    <td>{{ measurement.when|date:"Y-m-d " }} {{ measurement.when|time:"H:i:s T" }}</td>
    {% endtimezone %}
    <td>{{ measurement.temp }}</td>
    <td>{{ measurement.rh   }}</td>
  </tr>
{% endfor %}

</table>

</div>

{% endblock %}
