{% extends 'base.html' %}

{% block content %}
  <div id="container" style="width: 75%;">
    <canvas id="Scatterplot"></canvas>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
  <script>

    var config = {
      type: 'scatter',
      data: {
        datasets: [{
          label:   'Temperature',
          yAxisID: 'Temperature',
	  xAxisID: 'Time',
          borderColor: 'rgb(255, 99, 132)',
          data: {{ temps|safe }}
        }, {
          label:   'Humidity',
          yAxisID: 'Humidity',
	  xAxisID: 'Time',
          borderColor: 'rgb(99, 255, 132)',
          data: {{ rhs|safe }}
        }],
      },
      options: {
	scales: {
	      'Humidity': {
		type: 'linear',
		position: 'left',
	      },
	      'Temperature': {
		type: 'linear',
		position: 'right',
	      },
	      'Time': {
		      type: 'time',
		      position: 'bottom',
	      }
	},
	responsive: true,
	showLine: true,
	pointRadius: 0
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('Scatterplot').getContext('2d');
      window.myScatter = new Chart(ctx, config);
    };

  </script>

{% endblock %}
