{% extends 'base.html' %}

{% block content %}
  <div id="container" style="width: 75%; margin: 0 auto;">
    <canvas id="Scatterplot"></canvas>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/luxon@^2"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@^1"></script>
  <script>

    var config = {
      type: 'scatter',
      data: {
        datasets: [{
          label:   'Temperature',
          yAxisID: 'Temperature',
	  xAxisID: 'Time',
	  pointStyle: 'line',
          borderColor: 'rgb(255, 128, 128)',
          data: {{ temps|safe }}
        }, {
          label:   'Humidity',
          yAxisID: 'Humidity',
	  xAxisID: 'Time',
	  pointStyle: 'line',
          borderColor: 'rgb(128, 255, 128)',
          data: {{ rhs|safe }}
        }],
      },
      options: {
	plugins: {
		legend: {
			display: true,
			labels: { usePointStyle: true }
		},
	},
	scales: {
	      'Humidity': {
		type: 'linear',
		position: 'left',
		min: 30,
		max: 70,
		ticks: { stepSize: 5 },
		title: { display: true, text: "Relative humidity [%]" }
	      },
	      'Temperature': {
		type: 'linear',
		position: 'right',
		min: 10,
		max: 30,
		ticks: { stepSize: 2 },
		title: { display: true, text: "Temperature [°C]" }
	      },
	      'Time': {
		type: 'time',
		position: 'bottom',
		time: {
			unit:'hour',
			stepSize:0.5,
			displayFormats: {'hour': 'HH:mm'}
		},
	      }
	},
	responsive: true,
	showLine: true,
	pointRadius: 0
      }
    };

    window.onload = function() {
      Chart.defaults.font.size = 16;
      var ctx = document.getElementById('Scatterplot').getContext('2d');
      window.myScatter = new Chart(ctx, config);
    };

  </script>

{% endblock %}
